@import '../utilities/mixins';

.card-column {
    height: 300px;
    @include bootstrapmedia(md) {
        height: 50%;
    }
}

.in-game-cards {
    display: flex;
    overflow: scroll;
    max-width: 934px;
    img {
        position: relative;
        left: 90px;
        margin-left: -90px;
        height: 215px;
        width: 141px;
    }
    @include bootstrapmedia(md) {
        overflow: hidden;
        max-width: 934px;
        img {
            position: relative;
            left: 90px;
            margin-left: -90px;
            height: 267.43px;
            width: 175px;
        }
    }
}

.in-game-cards--stacked {
    img {
        left: 106px;
        margin-left: -106px;
    }
}
