.scoreboard {
    text-align: center;
    background-color: black;
    width: 200px;
    border: 1px solid white;
    td {
        font-size: 2rem;
    }
    td, th {
        border: 1px solid white;
        font-family: 'Hepta Slab', serif;
        padding: 5px;
        width: 50%;
    }
}