@font-face {
    font-family: Casino;
    src: url(../../fonts/Casino.ttf);
}

@font-face {
    font-family: Eastwood;
    src: url(../../fonts/Eastwood.ttf)  format('ttf');
}

.fontCasino {
    font-family: Casino;
}

.fontEastwood {
    font-family: Eastwood;
}